body {
    background-color: antiquewhite;
}

.transition, .transform, .animation {
    border: 1px solid #999;
    margin: 1rem 0;
}

.box {
    width: 200px;
    height: 200px;    
}

.b1 {
    background-color: lightgoldenrodyellow;
}

.b2 {
    background-color: lightblue;
}

.b3 {
    background-color: lightpink;
}

.b4 {
    background-color: lightsalmon;
}

/* CSS Transitions */

/* Property, duration, timing function, delay */

.transition .b1 {
    transition: width 1s ease-in-out 0.5s;
}

.transition .b1:hover {
    width:400px
}

.transition .b2 {
    /* can list in one line or use second line to make all elements follow the same rules */
    transition: width 1s 0.5s, height 0.5s 1s;
    transition-timing-function: ease-in;
}

.transition .b2:hover {
    width:400px;
    height: 400px;
    background-color: lightseagreen;
}

.transition .b3 {
    transition: all 1s ease-out 0.5s;
}

.transition .b3:hover {
    background-color: lightslategray;
    border-radius: 50%;
}

/* CSS Transforms */

.transform .box {
    transition: all 1s ease-out 0.3s;
}

.transform .b1 {
    transform-origin: bottom right;
}

.transform .b1:hover {
    transform: rotate(45deg);
}

.transform .b2:hover {
    transform: translate(20px, 30px)
}

.transform .b3:hover {
    transform: scale(0.7);
}

/* Default State */
.transform .b4 {
    transform: skew(10deg, 10deg);
}

/* Hover State */
.transform .b4:hover {
    transform: skew(0);
}

/* CSS Animation */

@keyframes changeColor {
    from {
        background-color: palevioletred;
    }
    to {
        background-color: lightseagreen;
    }
}

.animation .b1:hover {
    animation-name: changeColor;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards; /* both, backwards */
}

@keyframes moveAround{
    0% {
        transform: translate(0,0);
    }
    25%{
        transform: translate(200px,0);
    }
    50%{
        transform: translate(200px,200px);
    }
    75% {
        transform: translate(0,200px);
    }
    100%{
        transform: translate(0,0);
    }
}

.animation .b2 {
    /* name and duration together */
    animation: moveAround 4s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-direction: reverse;
}

@keyframes multipleTransformations{
    0%{
        transform: scale(0.5) translateX(0);
    }
    100%{
        transform: scale(1.4) translateX(500px);
    }
}

.animation .b3 {
    /* name, duration, timingfunction, delay count, direction */
    animation: multipleTransformations 2s cubic-bezier(0.12, 0, 0.39, 0) 3s 12 alternate;
}


.animation .b3:active {
    animation-play-state: paused;
}